# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# FiveM
fx.tar.xz
fivem-key.txt
data/txData/**/logs
data/txData/**/data
data/txData/admins.json
data/gamedb
cfg/server.cfg

# Environment things
.vscode
*.code-workspace