body {
    background-color: transparent;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.3) !important;
}

.card-image, .card-body {
    height: 10vh;
    margin: auto;
}

img {
    padding: 1em;
}
